<section class="login-page">
  <div class="bg_container">
    <div class="logo-main">
      <img src="../../assets/images/logo.png" alt="" />
    </div>
    <div class="bg-image"></div>
  </div>

  <div class="row w-100">
    <div class="col-lg-6 desc justify-content-center col-6 text-left px-5 py-3">
      <h2>Doc-Nock</h2>
      <p class="text-bold">Professional communication for modern healthcare teams</p>
      <p>Streamlines discussions, reduces delays, and enhances overall care delivery efficiency.</p>
    </div>
    <div class="col-lg-6 d-flex align-items-center justify-content-center">
      <div class="form-2-wrapper p-5">
        <div class="logo text-left">
          <h2>Forgot Password</h2>
          <p>Enter your registered email to receive a password reset link.</p>
        </div>
        <form  [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="mt-3">
          <div class="mb-3 form-box">
            <label for="email" class="text-left">Email</label>
            <input
              type="email"
              class="form-control custom-input"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
              formControlName = "email"
            />
            <div
            class="error"
            *ngIf="
              forgotPassword.get('email')?.touched &&
              forgotPassword.get('email')?.invalid
            "
          >
            <div class="text-danger">Enter a valid email.</div>
          </div>
          </div>
          <button
            type="submit"
            class="btn btn-outline-secondary login-btn w-100 mb-3"
          >
            Send Reset Link
          </button>
          <div class="row">
            <div class="col-12 mt-4 text-center">
              <p>
                Back to login?
                <a class="bold" href="/login"> Log in </a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
