// {
//   "plugins": [
//     [
//       "@babel/plugin-transform-modules-commonjs",
//       {
//         "allTopLevelThis": true
//       }
//     ]
//   ]
// }
{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "allTopLevelThis": true
      }
    ]
  ]
}